// AUTO COMPLEAT SCSS
.autocomplete-list {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0.375rem;
  background: #ffffff;
  border: 1px solid #dee2e6;
  z-index: 999;
  max-height: 320px;
  overflow: auto;
  .autocomplete-item {
    padding: 12px 15px;
    color: #212427;
    font-size: 16px;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    &:hover {
      background: linear-gradient(180deg, #008857 27.38%, #007148 100%);
      color: #ffffff;
    }
  }
}


