@import "variable.scss";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1320px,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "main.scss";
@import "header.scss";
@import "timepicker.scss";
@import "custom.scss"; // @import "footer.scss";
