$InterFont: "Inter", sans-serif;
$circleBorder: rgba(225, 140, 0, 0.45);
$track: #fff5e5;
// CHECKBOXES AND RADIOS
$form-check-input-width: 1.4em;
$form-check-min-height: 1.4em;
// $form-check-padding-start:                $form-check-input-width + .5em;
// $form-check-margin-bottom:                .125rem;
// $form-check-label-color:                  null;
// $form-check-label-cursor:                 null;
// $form-check-transition:                   null;

// $form-check-input-active-filter:          brightness(90%);

// $form-check-input-bg:                     $input-bg;
// $form-check-input-border:                 1px solid rgba($black, .25);
$form-check-input-border-radius: 4px;
// $form-check-radio-border-radius:          50%;
// $form-check-input-focus-border:           $input-focus-border-color;
// $form-check-input-focus-box-shadow:       $input-btn-focus-box-shadow;

$form-check-input-checked-color: #ffffff;
$form-check-input-checked-bg-color: #ffffff;
$form-check-input-checked-border-color: #ffffff;
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M12.5 3.75L5.625 10.625L2.5 7.5' stroke='black' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
// $form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

// $form-check-input-indeterminate-color:          $component-active-color;
// $form-check-input-indeterminate-bg-color:       $component-active-bg;
// $form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color;
// $form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

// $form-check-input-disabled-opacity:        .5;
// $form-check-label-disabled-opacity:        $form-check-input-disabled-opacity;
// $form-check-btn-check-disabled-opacity:    $btn-disabled-opacity;

// $form-check-inline-margin-end:    1rem;

// MENU TOGGLE
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: #ffffff;
$navbar-light-icon-color:           #FFFFFF;
$navbar-light-color:                #FFFFFF;
