// BLOG CSS
.heading {
  h5 {
    color: #000;
    font-family: $RethinkSansFont;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
  }
}
.blog-img {
  overflow: hidden;
  border-radius: 8px;
}
.blog-text {
  h5 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
  }
  p {
    color: #4d4d4d;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.34px;
  }
}
.read-more-link {
  color: #008857;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.34px;
}

// FAQ SECTION
.fag-img {
  position: absolute;
  left: 0;
  right: 0;
  top: -181px;
}
.custom-accordion {
  .accordion-item {
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    &:first-of-type {
      border-radius: 8px;
    }
    &:has(.accordion-button:not(.collapsed)) {
      border: 2px solid #02724a;
    }
  }

  .accordion-button {
    border-radius: 8px 8px 0 0;
    border: none;
    box-shadow: none;
    background: #067950;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.22px;
    &.collapsed {
      border-radius: 8px;
      border-bottom: none;
      &::after {
        background:
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 1V15M1 8H15' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
            no-repeat center center,
          rgba(255, 255, 255, 0.11);
        border-radius: 8px;
        padding: 24px;
      }
    }
    &:focus {
      box-shadow: none;
    }
    &::after {
      background:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='%23008857' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
          no-repeat center center,
        #fff;
      border-radius: 8px;
      padding: 24px !important;
    }
  }
  .accordion-body {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }
}

.fag-section {
  background: #008857;
  min-height: 824px;
  margin-top: 181px;
}

.collapse-inner {
  border-radius: 0 0 6px 6px;
  background: rgba(255, 255, 255, 0.95);
  p {
    color: #2f2f2f;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.17px;
  }
}

// POPULAR DEALS
.explore-card {
  border-radius: 20px;
  overflow: hidden;
}
.explore-text {
  h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    &::first-line {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.explore-btn {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.13px;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid rgba(176, 176, 176, 0.4);
  background: rgba(255, 255, 255, 0.3);
  padding: 4px 12px;
}
.explore-popular-btn {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.13px;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #b0b0b0;
  background: #008857;
  padding: 4px 12px;
}

// EXPLORE POPULAR DEALS

.more-deal-btn {
  border-radius: 20px;
  background: linear-gradient(180deg, #008857 27.38%, #007148 100%), #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
  height: 79px;
  width: 100%;
  border: none;
}

//.

.offers-main {
  gap: 28px;
}

.offers-divider {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: -14px;
    width: 1px;
    height: 109px;
    background: #dbdbdb;
    margin: auto 0;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: -14px;
    width: 1px;
    height: 109px;
    background: #dbdbdb;
    margin: auto 0;
  }
}
.offers-text {
  h5 {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%; /* 22px */
    letter-spacing: -0.44px;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.32px;
  }
}

.customer-card {
  border-radius: 44px;
  background: linear-gradient(180deg, #008857 27.38%, #007148 100%);
  padding: 40px 60px;
  width: 698px;
  max-width: 100%;
}
.customer-body {
  p {
    color: #fff;
    font-family: $InterFont;
    font-size: 32px;
    font-weight: 500;
    line-height: 125%; /* 40px */
    letter-spacing: -0.32px;
  }
}
.customer-avtar {
  gap: 12px;
  p {
    color: rgba(255, 255, 255, 0.6);
    font-family: $InterFont;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.16px;
    span {
      color: #fff;
      font-family: $InterFont;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
      letter-spacing: -0.16px;
    }
  }
}

// .customer-slider .slide {
//   width: 698px; /* card width from design */
//   margin: 0 16px;
// }

// .customer-slider {
//   .slick-slide {
//     display: flex;
//     justify-content: center;
//     opacity: 0.6;
//     &.slick-active {
//       opacity: 1;
//     }
//   }
// }

// .customer-slider .slide {
//   width: 698px;
//   margin: 0 16px;
//   transition:
//     transform 0.4s ease,
//     opacity 0.4s ease;
// }

// .customer-slider .slick-slide {
//   display: flex;
//   justify-content: center;
//   opacity: 0.5;
//   transform: scale(0.9);
//   transition:
//     transform 0.4s ease,
//     opacity 0.4s ease;
// }

// .customer-slider .slick-slide.slick-center {
//   opacity: 1;
//   transform: scale(1);
//   z-index: 2;
// }

/* Common arrow styles */
.customer-slider {
  position: relative;
  .slide {
    width: 698px;
    .slide-inner {
      transform: scale(0.92);
      opacity: 0.5;
      transition:
        transform 0.45s ease,
        opacity 0.45s ease;
    }
  }
  .slick-center {
    .slide {
      .slide-inner {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 56px;
    height: 56px;
    &::before {
      content: "";
      width: 56px;
      height: 56px;
      border-radius: 41px;
      border: 1px solid rgba(1, 121, 78, 0.33);
      background: #fff;
      box-shadow: 0 1px 11.4px -4px rgba(0, 0, 0, 0.25);
      display: block;
      opacity: 1;
    }
  }
  .slick-prev {
    left: calc(50% - 382px); /* 698 / 2 */
    transform: translate(-50%, -50%);
    &::before {
      content: "";
      background:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%23018857' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
          no-repeat center center,
        #fff;
    }
    &.slick-disabled {
      &::before {
        opacity: 0;
      }
    }
  }
  .slick-next {
    left: calc(50% + 382px);
    transform: translate(-50%, -50%);
    &::before {
      content: "";
      background:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23018857' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
          no-repeat center center,
        #fff;
    }
    &.slick-disabled {
      &::before {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 991.99px) {
  .offers-text {
    h5 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
  .customer-card {
    width: 576px;
  }
  .customer-body {
    p {
      font-size: 24px;
    }
  }
  .customer-avtar {
    p {
      font-size: 16px;
      span {
        font-size: 16px;
      }
    }
  }
  .customer-slider {
    .slick-next {
      left: calc(50% + 288px);
      transform: translate(-50%, -50%);
    }
    .slick-prev {
      left: calc(50% - 288px);
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 767.99px) {
  .customer-card {
    width: 320px;
    padding: 24px;
  }
  .customer-body {
    p {
      font-size: 18px;
    }
  }
  .customer-avtar {
    p {
      font-size: 12px;
      span {
        font-size: 12px;
      }
    }
  }
  .customer-slider {
    .slick-next {
      left: calc(50% + 160px);
      transform: translate(-50%, -50%);
    }
    .slick-prev {
      left: calc(50% - 160px);
      transform: translate(-50%, -50%);
    }
    .slick-next,
    .slick-prev {
      width: 40px;
      height: 40px;
      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }
  .heading {
    h5 {
      font-size: 28px;
    }
  }

  .custom-accordion {
    .accordion-button {
      font-size: 18px;
    }
  }
  .collapse-inner {
    p {
      font-size: 16px;
    }
  }
  .blog-text {
    h5 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
  .read-more-link {
    font-size: 16px;
  }
  .explore-text {
    h5 {
      font-size: 18px;
    }
  }
}
