.search-details {
  border-radius: 9px;
  border: 2px solid #e3e3e3;
  background: #fff;
  .search-details-text {
    span {
      color: #6a6a6a;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.24px;
    }
    h5 {
      color: #000;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: -0.3px;
    }
    h6 {
      color: #000;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.24px;
    }
  }
}

.filter-card {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.7);
  .filter-btn {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    background: #f5f4e9;
    color: #3d3602;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.26px;
    padding: 10px 16px;
    img {
      transform: rotate(0deg);
    }
    &.collapsed {
      img {
        transform: rotate(-90deg);
      }
    }
  }
}

.filter-checkbox {
  &.form-check {
    .form-check-input {
      width: 16px;
      height: 16px;
      border-color: rgba(0, 0, 0, 0.27);
      margin-right: 8px;
      &:checked {
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.27);
      }
    }
    .form-check-label {
      color: #3d3602;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.26px;
    }
  }
}

.car-card {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 18.3px 0 rgba(0, 0, 0, 0.08);
  width: 219px;
  margin-right: 12px;
  border: 1.5px solid #fff;
  .car-card-image {
    min-height: 80px;
  }
  .car-name {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.34px;
  }
  .car-seater-items {
    span {
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.24px;
    }
  }
  .car-price {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.26px;
    strong {
      color: #000;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: -0.26px;
    }
  }
  .car-selected {
    border-radius: 48px;
    background: linear-gradient(180deg, #008455 54.66%, #005637 100%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

.slick-active {
  .car-card {
    border-color: #008052;
  }
  .car-selected {
    display: flex;
  }
  .car-card-image {
    svg {
      path {
        fill: #008052;
      }
    }
  }
}

// SLICK SLIDER BUTTONS
.slick-prev,
.slick-next {
  z-index: 1;
  width: 48px;
  height: 48px;
  &::before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    display: block;
    opacity: 1;
  }
}
.slick-next {
  right: 0;
  &::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        no-repeat center center,
      linear-gradient(180deg, #008455 54.66%, #005637 100%);
  }
  &.slick-disabled {
    &::before {
      opacity: 0;
    }
  }
}
.slick-prev {
  left: 0;
  &::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        no-repeat center center,
      linear-gradient(180deg, #008455 54.66%, #005637 100%);
    transform: rotate(180deg);
  }
  &.slick-disabled {
    &::before {
      opacity: 0;
    }
  }
}

// RESULTS PAGE SPECIFIC STYLES

.result-card-main {
  &.diamond-value {
    .result-card {
      border: 1px solid rgba(0, 136, 87, 0.5);
      background: #fdfffe;
      box-shadow: 0 0 18px -4px rgba(0, 0, 0, 0.16);
    }
    .result-car-image {
      padding-bottom: 19px;
    }
  }
  &.is-open {
    .result-left {
      border-radius: 0 0 10px 0;
    }
  }
}

.result-card {
  border-radius: 8px;
  border: 2px solid #eaeaea;
  background: #fff;
  overflow: hidden;
}

.result-left {
  width: 285px;
  max-width: 100%;
  border: 1px solid #efefef;
  background: #f9f9f9;
  overflow: hidden;
  border-radius: 0;
}

.filter-heading {
  position: relative;
  span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background: #f1f1ef;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #d8d6c8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.filter-sorting {
  background: #f1f1ef;
}
.form-control-sorting {
  color: #3d3602;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.26px;
  border-radius: 81px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6L8 10L12 6' stroke='black' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat right 16px center,
    #fff;
  height: 32px;
  padding: 0 40px 0 16px;
}

.result-right {
  width: calc(100% - 285px);
  max-width: 100%;
}
.result-car-image {
  min-height: 200px;
  padding-bottom: 28px;
}

.diamond-card {
  border-radius: 0 8px 8px 0;
  background: linear-gradient(180deg, #008455 0%, #005637 100%);
  width: 181px;
  max-width: 100%;
  gap: 10px;
  padding: 8px 13px 8px 15px;
  top: 12px;
  left: -8px;
  z-index: 1;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4' viewBox='0 0 7 4' fill='none'%3E%3Cpath d='M7 0L0 4H7V0Z' fill='%23005033'/%3E%3C/svg%3E")
      no-repeat center center;
    width: 7px;
    height: 4px;
    position: absolute;
    top: -4px;
    left: 0;
  }
}

.diamond-text {
  h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
  }
  h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
}

.rating-card {
  border: none;
  border-top: 1px solid rgba(178, 121, 25, 0.12);
  background: #fffaf2;
  padding: 14px 32px;
}

.rating-circle {
  --size: 60px;
  --thickness: 2px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: relative;

  // Bootstrap-style loader
  background: conic-gradient(
    $circleBorder calc(var(--rating) * 36deg),
    $track 0
  );

  // Inner cut-out
  &::before {
    content: "";
    position: absolute;
    inset: var(--thickness);
    background: #fff5e5;
    border-radius: 50%;
  }

  span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #b27919;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
  }
}

.rating-text {
  h4 {
    color: #b27919;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.34px;
  }

  p {
    color: rgba(178, 121, 25, 0.61);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.26px;
  }
}

.result-details {
  padding: 32px 40px 29px 40px;
}
.result-car-name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
  span {
    color: #585858;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
  }
}
.result-car-type {
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  background: #efefef;
  padding: 4px 8px;
  color: #7a7a7a;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.result-amenities-text {
  color: #777;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
}

.result-feature {
  ul {
    li {
      svg {
        path {
          stroke: #222222;
        }
      }
      &.active-feature {
        svg {
          path {
            stroke: #008857;
          }
        }
      }
    }
  }
}

.result-feature-text {
  color: #222;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
}

.result-price {
  span {
    color: rgba(0, 136, 87, 0.7);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
  }
  strong {
    color: #008052;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.6px;
  }
}
.offerBtn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.14px;
  border-radius: 8px;
  background: #008052;
  border: 1px solid #008052;
  padding: 12px 18px;
  img {
    transform: rotate(90deg);
  }
  &.collapsed {
    img {
      transform: rotate(0deg);
    }
  }
}

.terms-btn {
  color: #008052;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.12px;
}

.available-car {
  border-radius: 12px;
  background: #e9fff7;
  padding: 12px 22px;
}

.available-car-items {
  border-radius: 16px;
  border: 1px solid rgba(0, 136, 87, 0.2);
  background: #fff;
  width: 245px;
  min-height: 289px;
  max-width: 100%;
  margin: 8px 0;

  &.active {
    margin: 0;
    min-height: calc(289px + 16px);
    // transform: scale(1, 1.1);
  }
}

.custom-badge-success {
  background: #008857;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: -0.16px;
}
.available-car-type {
  h5 {
    color: #00291a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
  }
}

.available-car-price {
  h6 {
    color: #008857;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -0.2px;
  }
}
.offer-price {
  color: #008857;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.52px;
}

.current-price {
  color: rgba(0, 136, 87, 0.33);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-decoration-line: line-through;
}

.available-result-amenities {
  ul {
    li {
      svg {
        path {
          stroke: #3a3a3a;
        }
      }
      &.active {
        svg {
          path {
            stroke: #219653;
          }
        }
        .available-result-text {
          color: #3a3a3a;
        }
      }
    }
  }
  p {
    color: #727272;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
  }
}

.available-result-text {
  color: rgba(58, 58, 58, 0.7);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
}

.select-btn {
  padding: 10px 16px;
  border-radius: 8px;
  background: linear-gradient(180deg, #008857 0%, #00613e 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

@media screen and (max-width: 767.99px) {
  .result-left {
    width: 100%;
  }
  .result-right {
    width: 100%;
    max-width: 100%;
  }
  .available-car-items {
    width: 100%;
  }
}
